<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light"> -->
    <div class="container-fluid bg-light">
    <div class="container d-flex justify-content-between align-items-center ">
    <div class="">
        <a>
            <img height="20" width="150" src="assets/img/EXPryLogoHor.png">
        </a>
    </div>    
    <ul class="d-flex pt-4 gap-5" style="list-style-type:none;" >
        <li ngbDropdown class="">
                <button type="button" 
                class="btn btn-secondary"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                ngbDropdownToggle>Features</button>
                <div ngbDropdownMenu class="dropdown-menu">
                    <button ngbDropdownItem class="dropdown-item">Create An Exam</button>
                    <button ngbDropdownItem class="dropdown-item">Create an Assessment</button>
                    <button ngbDropdownItem class="dropdown-item">Supervise an Exam</button>
                    <button ngbDropdownItem class="dropdown-item">Upload Subjects</button>
                </div>
        </li>
        <li class="">
          <a class="btn btn-light" href="#">Home</a>
        </li>
        <li class="">
            <a class="btn btn-light"    href="#">Faqs</a>
        </li>
    </ul>
    </div>
    </div>
  <!-- </nav> -->